%h1= @bookmark.url

#info
	%ul
		%li
			%span.strong Added 
			#{time_ago_in_words(@bookmark.created_at)} ago
		%li
			%span.strong Site page:
			= link_to h(@bookmark.site.name), site_path(@bookmark.site)
		%li
			%span.strong Short url:
			= h(@bookmark.short_url)
		%li
			%span.strong Page title:
			= h(@bookmark.page_title)
		%li
			%span.strong Page description:
			= h(@bookmark.page_description)
		%li.tags
			%span.strong Tags: 
			= h(@bookmark.tags)
		