%h1= @bookmark.url

#info
	%ul
		%li
			Added #{time_ago_in_words(@bookmark.created_at)} ago
		%li
			Site page:
			= link_to @bookmark.site.name, site_path(@bookmark.site)
		%li
			Short url:
			= @bookmark.short_url
		%li Other

%p#tags
	#{@bookmark.tag_list}
		