%h1 Manage your Bookmarks

- form_for @bookmark do |f|
	= f.label :url, "URL"
	= f.text_field :url
	= f.label :tag_list, "Tags"
	= f.text_field :tag_list
	= f.submit "Save Bookmark"

- if @recent_bookmarks	
	#recently-added
		%ul
			- for bookmark in @recent_bookmarks
				%li= link_to bookmark.url, bookmark_path(bookmark)
				
%p= link_to "View all sites", sites_path
