%h1 Manage your Bookmarks

#search
	- form_tag searches_path, :method => :get do
		= label_tag :query, "Search bookmarks"
		= text_field_tag :query
		= submit_tag "Search"
	
- form_for @bookmark do |f|
	= f.label :url, "URL"
	= f.text_field :url
	= f.label :tag_list, "Tags"
	= f.text_field :tag_list
	= f.submit "Save Bookmark"

- if @recent_bookmarks	
	#recently-added
		%p
			Recently added:
			%ul
				- @recent_bookmarks.each do |bookmark|
					%li= link_to bookmark.url, bookmark_path(bookmark)
			
%p= link_to "View all sites", sites_path
