%head
	%title "Bookmarks"
	= stylesheet_link_tag 'baseline.reset', 'baseline.base', 'baseline.grid', 'baseline.form', 'baseline.type', 'style'
	= javascript_include_tag 'jquery-1.4.1', 'application'
%body
	#page
		#flash.width3
			#notice.message{:style => "#{'display: none' unless flash[:notice]}" }= flash[:notice]
			#error.message{:style => "#{'display: none' unless flash[:error]}" }= flash[:error]
		#main-content
			= yield